<div class="jumbotron">

  <div class="container">
    <div class="row">
      <div class="col-sm-6 offset-sm-3">

        <h3>Electric Bikes App</h3>

        <a class="button" href="http://localhost:4200/api/home">Go to the home page</a>
        <br>
        <a class="button" href="http://localhost:4200/api/station">See all the stations</a>
        <br>
        <a class="button" href="http://localhost:4200/api/bike">See all the bikes</a>
        <br>
        <a class="button" href="http://localhost:4200/api/unassigned">See which bikes are unassigned</a>
      
        <br>
        <br>
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>

