

        <h2>Stations</h2>

        <style>
            table, th, td {
              border: 1px solid black;
              border-collapse: collapse;
            }
            th, td {
              padding: 15px;
            }
            </style>

        <table>
            <tr>
                <th>Station</th>
                <th>State</th>
                <th>Description</th>
            </tr>
            <tr *ngFor="let station of stations">
                <td>{{station.name}}</td>
                <td>{{station.state}}</td>
                <td>{{station.description}} <button [routerLink]="['/api/station', station._id]" type="button" style="margin-left : 0.5cm" class="btn btn-success" (click)="getStationById(station._id)">View</button></td>            
            </tr>
        </table>
    <div>
    <!--<table>
            <th>Bike</th>
            <th>Kms</th>
            <th>Description</th>
        <tr *ngFor="let bike of unassignedbikes">
            <td>{{bike.name}}</td>
            <td>{{bike.kms}}</td>
            <td>{{bike.description}}</td>
            <td>
                <a (click)="postBikeStation(bike._id, station._id)"></a>
            </td>
        </tr>
    </table>-->
    </div>

