<h2>"Station: {{station.station}}" </h2>


<style>
    table, th, td {
      border: 1px solid black;
      border-collapse: collapse;
    }
    th, td {
      padding: 25px;
    }

    desc {
        padding-right: 1cm
    }
</style>

<div>
    <table>
            <tr>
                <th>Bike</th>
                <th>Kms</th>
                <th>Description</th>
            </tr>
            <tr *ngFor="let bike of unassBikes">
                <td> {{bike.name}}</td>
                <td>{{bike.kms}}</td>
                <td> {{bike.description}} <button type="button" style="margin-left : 0.5cm; float: right" class="btn btn-success" (click)="addBikeToStation(unassBike._id)">+</button></td>
            </tr>

    </table>
</div>
<div>